:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
} */

@media screen and (min-width: 600px) {
  /* #root {
    padding: 2rem;
  } */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: px solid slategrey;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.main-container {
  height: calc(100vh - 64px - 48px);
  max-height: calc(100vh - 64px - 48px);
  margin-top: 24px;
  margin-bottom: 24px;
}