.users-list {
    height: calc(100% - 32px);
}

.ChatroomUsers {

    border: none;
}

@media screen and (min-width: 900px) {
    .ChatroomUsers {
        top: 0;
        left: 0;
        padding-bottom: 4px;
    }
}