.Chatroom {}

.border {
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.left-grid-item {
    justify-content: center;
}

@media screen and (min-width: 900px) {

    .left-grid-item {
        position: relative;
        justify-content: center;
    }
}